<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2
        id="jhi-mineral-recommendation-heading"
        data-cy="MineralRecommendationCreateUpdateHeading"
        jhiTranslate="myApp.mineralRecommendation.home.createOrEditLabel"
      >
        Create or edit a Mineral Recommendation
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.mineralRecommendation.minAmount" for="field_minAmount">Min Amount</label>
          <input type="number" class="form-control" name="minAmount" id="field_minAmount" data-cy="minAmount" formControlName="minAmount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.mineralRecommendation.maxAmount" for="field_maxAmount">Max Amount</label>
          <input type="number" class="form-control" name="maxAmount" id="field_maxAmount" data-cy="maxAmount" formControlName="maxAmount" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.mineralRecommendation.unit" for="field_unit">Unit</label>
          <select class="form-control" name="unit" formControlName="unit" id="field_unit" data-cy="unit">
            <option [ngValue]="null">{{ 'myApp.Unit.null' | translate }}</option>
            <option *ngFor="let unit of unitValues" [value]="unit">{{ 'myApp.Unit.' + unit | translate }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.mineralRecommendation.timePeriodLength" for="field_timePeriodLength"
            >Time Period Length</label
          >
          <input
            type="number"
            class="form-control"
            name="timePeriodLength"
            id="field_timePeriodLength"
            data-cy="timePeriodLength"
            formControlName="timePeriodLength"
          />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.mineralRecommendation.timePeriodDimension" for="field_timePeriodDimension"
            >Time Period Dimension</label
          >
          <select
            class="form-control"
            name="timePeriodDimension"
            formControlName="timePeriodDimension"
            id="field_timePeriodDimension"
            data-cy="timePeriodDimension"
          >
            <option [ngValue]="null">{{ 'myApp.RecommendationPeriodTime.null' | translate }}</option>
            <option *ngFor="let recommendationPeriodTime of recommendationPeriodTimeValues" [value]="recommendationPeriodTime">
              {{ 'myApp.RecommendationPeriodTime.' + recommendationPeriodTime | translate }}
            </option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="myApp.mineralRecommendation.mineral" for="field_mineral">Mineral</label>
          <select
            class="form-control"
            id="field_mineral"
            data-cy="mineral"
            name="mineral"
            formControlName="mineral"
            [compareWith]="compareMineral"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="mineralOption" *ngFor="let mineralOption of mineralsSharedCollection">{{ mineralOption.id }}</option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
